.card1 {

background-image: url("http://wallpapercave.com/wp/r4knrxr.jpg");


}

.card2 {

background-image: url("http://images5.fanpop.com/image/photos/30900000/supercell-weather-30965292-1440-900.jpg");
height:400px;
    width: 250px;
    margin:10px;

}

.card3 {

background-image: url("http://addons.kodi.tv/addon-data/eden/skin.transparency/backgrounds/home-weather-conditional/4/weather-04.jpg");

height:400px;
    width: 250px;
    margin:10px;


}

.card4{

background-image: url("http://images5.fanpop.com/image/photos/30900000/supercell-weather-30965292-1440-900.jpg");
height:400px;
    width: 250px;
    margin:10px;


}

.card5{

background-image: url("http://wallpapercave.com/wp/r4knrxr.jpg");

height:400px;
    width: 250px;
    margin:10px;

}

.card6{

background-image: url("http://wallpapercave.com/wp/r4knrxr.jpg");

height:400px;
    width: 250px;
    margin:10px;
}



}
#currentTemp{
    
}
