.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.yellow{
    background-color: black;
}

.green{
  background-color: green;
}

.monday{
background-image: url("http://cdn.weatheravenue.com/img/background/background.jpg");
background-repeat: no-repeat;
}


.tuesday{
    background-image: http://cdn.weatheravenue.com/img/background/background.jpg
}

.wenesday{
    background-image: http://cdn.weatheravenue.com/img/background/background.jpg
}

.thursday{
    background-image: http://cdn.weatheravenue.com/img/background/background.jpg
}

.friday{
    background-image: http://cdn.weatheravenue.com/img/background/background.jpg
}

.saturday{
http://cdn.weatheravenue.com/img/background/background.jpg
}